@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,500;1,600;1,700;1,800&display=swap');

:root {
    /* COLOR */
    --main-color: hsl(0, 0%, 11%);
    --text-color: hsl(0, 0%, 100%);
    --second-text-color: hsla(0, 0%, 100%, 0.65);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background: var(--main-color);

    overflow: hidden;
}

@media screen and (min-width: 1068px) {
    .split {
        height: calc(100vh - 80px);
        display: flex;
    }
}

/* nav text */
.nav-text {
    display: none;
}

@media screen and (min-width: 1068px) {
    .nav-text {
        display: block;
        width: 120px;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: end;
        padding-bottom: 90px;

        order: 3;
    }

    .nav-text div {
        transform: rotate(90deg);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }

    .nav-text p {
        text-transform: uppercase;
        font-weight: 500;
        color: white;

        display: flex;
        align-items: center;
        gap: 8px;
    }

    .nav-text-line {
        display: inline-block;
        height: 1px;
        width: 66px;
        background: linear-gradient(to right, white, rgba(0, 0, 0, 0.16));
    }
}

/* main */
main {
    width: 100%;
    height: calc(100vh - 160px);
    overflow: scroll;
    border: solid red;
}

/* main::after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 50px;
    background: linear-gradient(to bottom, transparent, rgba(29, 29, 29, 0.75), #1d1d1d);
    position: absolute;
    bottom: 100px;
} */

@media screen and (min-width: 1068px) {
    main {
        height: 100%;
        position: relative;

        order: 2;
    }
}

/* home */
section.home {
    width: 100%;
    height: 100%;

    display: grid;
    place-items: center;
}

.home-text-content p {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    text-transform: uppercase;
}

.home-text-content p:first-child,
.home-text-content p:last-child {
    padding: 4px 16px;
}

.home-text-content i {
    text-transform: uppercase;
    font-size: 64px;
    font-weight: 800;
    color: white;
}

.home-text-content p:last-child {
    text-align: end;
}

@media screen and (min-width: 1068px) {
    .home-text-content p {
        font-size: 16px;
    }

    .home-text-content p:first-child,
    .home-text-content p:last-child {
        padding: 4px 24px;
    }

    .home-text-content i {
        font-size: 128px;
    }
}

/* contacts */
section.contacts {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 48px;
    padding: 24px 22px;
}

.contact-description {
    width: 100%;
    max-width: 480px;
    text-align: center;
    color: white;

    display: flex;
    flex-direction: column;
    gap: 32px;
    font-size: 14px;
}

.contact-description div p:first-child {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.contact-form,
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* kalo ada style yang sama harus digabungin */
/* font size ngikutin max. 2 tingkat parent terdekat */

.contact-form form,
form input,
form textarea {
    width: 100%;
}

.contact-form {
    width: 100%;
    max-width: 560px;
    box-shadow: 2px 4px 24px rgba(0, 0, 0, 0.32);
    background: #1d1b1b;
    padding: 24px;
    gap: 16px;
}

.contact-form h3 {
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
}

form {
    gap: 16px;
}

form input,
form textarea {
    max-width: 100%;
    min-width: 100%;
    height: 42px;
    min-height: 42px;
    padding: 10px 8px;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
}

form button {
    width: 175px;
    height: 42px;
    background: var(--main-color);
    box-shadow: 1px 2px 16px rgba(0, 0, 0, 0.24);
    border: none;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 16px;
}

@media screen and (min-width: 1068px) {
    section.contacts {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 72px;
        padding: 32px 24px;
    }

    .contact-description {
        gap: 48px;
        font-size: 16px;
    }

    .contact-description div p:first-child {
        font-size: 18px;
        font-weight: 600;
    }

    .contact-form {
        padding: 32px;
        gap: 32px;
    }

    .contact-form h3 {
        font-size: 36px;
    }

    form input,
    form textarea {
        padding: 12px 16px;
        font-size: 16px;
    }

    form input {
        height: 48px;
    }

    form textarea {
        height: 120px;
    }

    form button {
        width: 290px;
        height: 56px;
        margin-top: 24px;
    }
}

/* projects */
section.projects {
    padding: 24px 24px 48px;
    display: grid;
    place-items: center;
}

section.projects::before {
    content: '';
    display: inline-block;
    height: 50px;
    background: linear-gradient(to bottom, rgba(29, 29, 29, 0.16), rgba(29, 29, 29, 0.72), rgb(29, 29, 29));
    position: absolute;
    width: 100%;
    bottom: 100px;
    z-index: 100;
}

.projects-grid {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.project-card {
    position: relative;
}

.project-card img {
    width: 100%;
    max-width: 360px;
    aspect-ratio: 2/1;
    object-fit: cover;
}

.project-card a {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.72);

    text-decoration: none;
    color: white;
    font-weight: 600;
    display: grid;
    place-items: center;
}

@media screen and (min-width: 1068px) {
    section.projects::before {
        position: fixed;
        bottom: 0;
    }

    .projects-grid {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
        gap: 32px;
    }
}
