@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,500;1,600;1,700;1,800&display=swap');

:root {
    /* COLOR */
    --main-color: hsl(0, 0%, 11%);
    --text-color: hsl(0, 0%, 100%);
    --second-text-color: hsla(0, 0%, 100%, 0.65);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background: var(--main-color);

    overflow: hidden;
}

@media screen and (min-width: 1068px) {
    .split {
        height: calc(100vh - 80px);
        display: flex;
    }
}

/* nav text */
.nav-text {
    display: none;
}

@media screen and (min-width: 1068px) {
    .nav-text {
        display: block;
        width: 120px;
        height: 100%;
        
        display: flex;
        justify-content: center;
        align-items: end;
        padding-bottom: 92px;

        order: 3;
    }

    .nav-text p {
        transform: rotate(270deg);
        translate: 0 -100%;

        text-transform: uppercase;
        font-weight: 500;
        color: white;

        display: flex;
        align-items: center;
        gap: 8px;
    }

    .nav-text-line {
        display: inline-block;
        height: 1px;
        width: 66px;
        background: linear-gradient(to right, white, rgba(0,0,0,0.16));
    }
}

/* main */
main {
    width: 100%;
    height: calc(100vh - 160px);
}

@media screen and (min-width: 1068px) {
    main {
        height: 100%;

        order: 2;
    }
}
