<section id="projects" class="projects pt-4 px-lg-4 pb-5 py-lg-3 justify-content-center align-items-center"
    style="display: none;">
    <div class="py-3 py-lg-4 d-flex flex-column justify-content-lg-center align-content-lg-start gap-4">
        <div class="project-card p-3 d-flex flex-column flex-lg-row gap-3 gap-lg-4">
            <img src="resources/img/projects/jhondoe-3d-portfolio.png">
            <div class="d-lg-flex flex-column justify-content-between">
                <div class="project-description d-flex flex-column gap-3">
                    <p class="mb-0">Jhon Doe 3D Portfolio</p>
                    <p class="mb-0">
                        Website portfolio 3D ini dibangun menggunakan teknologi React JS, Tailwind, dan
                        Three JS. Dengan antarmuka yang interaktif dan responsif, membuat website ini
                        menjadi platform yang menarik untuk menampilkan portofolio seni 3D.
                    </p>
                    <p class="mb-0">Tech stack : Javascript, React JS, Three JS, Tailwind</p>
                </div>
                <a href="https://jhondoe-portfolio.netlify.app/" target="_blank">VISIT
                    WEBSITE</a>
            </div>
        </div>

        <div class="project-card p-3 d-flex flex-column flex-lg-row gap-3 gap-lg-4">
            <img src="resources/img/projects/judsky-calculator.png">
            <div class="d-lg-flex flex-column justify-content-between">
                <div class="project-description d-flex flex-column gap-3">
                    <p class="mb-0">JudSky Calculator</p>
                    <p class="mb-0">
                        Website calculator simple yang memiliki tampilan keren.
                    </p>
                    <p class="mb-0">Tech stack : Javascript, React JS</p>
                </div>
                <a href="https://judsky-calculator.netlify.app/" target="_blank">VISIT
                    WEBSITE</a>
            </div>
        </div>

        <div class="project-card p-3 d-flex flex-column flex-lg-row gap-3 gap-lg-4">
            <img src="resources/img/projects/the-sportsid.png">
            <div class="d-lg-flex flex-column justify-content-between">
                <div class="project-description d-flex flex-column gap-3">
                    <p class="mb-0">theSports-id</p>
                    <p class="mb-0">
                        Website yang menyediakan berita dan blog seputar olahraga adalah situs yang
                        menyajikan informasi terkini seputar dunia olahraga, termasuk artikel, berita,
                        ulasan.
                    </p>
                    <p class="mb-0">Tech stack : HTML 5, CSS 3, JavaScript, PHP, Laravel</p>
                </div>
                <a href="https://thesport-id.000webhostapp.com/" target="_blank">VISIT WEBSITE</a>
            </div>
        </div>

        <div class="project-card p-3 d-flex flex-column flex-lg-row gap-3 gap-lg-4">
            <img src="resources/img/projects/chrismast-web.png">
            <div class="d-lg-flex flex-column justify-content-between">
                <div class="project-description d-flex flex-column gap-3">
                    <p class="mb-0">Responsive Christmas Website</p>
                    <p class="mb-0">Website static bertema Christmas yang memiliki responsive design.
                    </p>
                    <p class="mb-0">Tech stack : HTML 5, CSS 3, JavaScript</p>
                </div>
                <a href="https://christmas-judah.netlify.app/" target="_blank">VISIT WEBSITE</a>
            </div>
        </div>

        <div class="project-card p-3 d-flex flex-column flex-lg-row gap-3 gap-lg-4">
            <img src="resources/img/projects/jtodo-list.png">
            <div class="d-lg-flex flex-column justify-content-between">
                <div class="project-description d-flex flex-column gap-3">
                    <p class="mb-0">JTodo List</p>
                    <p class="mb-0">Tech stack : HTML 5, CSS 3, JavaScript</p>
                </div>
                <a href="https://jtodo-list.netlify.app/" target="_blank">VISIT WEBSITE</a>
            </div>
        </div>
    </div>
</section>